

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <title>Metronic | Login Options - Login Form 1</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        {% block stylesheets %}

            {% stylesheets  
'bundles/empresa/web/css/*'
  filter='cssrewrite'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="login">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="menu-toggler sidebar-toggler">
        </div>
        {% block body %}
            <div class="content">
                <div class="col-md-offset-4 col-md-4 " style="background: antiquewhite;">
                    <div class="logo">
                        <a href="index.html">
                            <img src="../../assets/admin/layout/img/logo-big.png" alt="">
                        </a>
                    </div>
                    <!-- BEGIN LOGIN FORM -->
                    <form class="login-form" action="index.html" method="post" novalidate="novalidate">
                        <h3 class="form-title">Sign In</h3>
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            <span>
                                Enter any username and password. </span>
                        </div>
                        <div class="form-group">
                            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                            <label class="control-label visible-ie8 visible-ie9">Username</label>
                            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username">
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">Password</label>
                            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password">
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success uppercase">Login</button>
                        </div>
                        <div class="create-account">
                            <p>
                                <a href="javascript:;" id="register-btn" class="uppercase">Create an account</a>
                            </p>
                        </div>
                    </form>



                    <div class="copyright">
                        2014 © Metronic. Admin Dashboard Template.
                    </div>
                </div>
            </div>
        {% endblock %}
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

        {% block javascripts %}



            {% javascripts 
      'bundles/empresa/web/js/*'
            %}
            <script src = "{{ asset_url }}" ></script>
            {% endjavascripts %}


            <script>
                jQuery(document).ready(function () {

                    Metronic.init(); // init metronic core components
                    Layout.init(); // init current layout
                    QuickSidebar.init(); // init quick sidebar
                    Demo.init(); // init demo features
                });
            </script>
        {% endblock %}

        <!-- END JAVASCRIPTS -->

        <!-- END BODY -->
    </body>
    <!-- END BODY -->
</html>