{% extends "::base.html.twig"%}
 {% block sidebar %}
     
     <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <div class="page-sidebar navbar-collapse collapse">

                        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                            <li class="sidebar-toggler-wrapper">
                                <div class="sidebar-toggler">
                                </div>
                            </li>
                            <li class="sidebar-search-wrapper">

                                <form class="sidebar-search " action="extra_search.html" method="POST">
                                    <a href="javascript:;" class="remove">
                                        <i class="icon-close"></i>
                                    </a>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                                        </span>
                                    </div>
                                </form>
                            </li>
                            <li class="start active open">
                                <a href=" {{path('produtos_index')}}">
                                    <i class="icon-home"></i>
                                    <span class="title">Produto</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>
                            
                            
                              <li class="start  open">
                                <a href=" {{path('categoria_index')}}">
                                    <i class="icon-home"></i>
                                    <span class="title">Categoria</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>
                            
                            
                            
                               <li class="start  open">
                                <a href=" {{path('empresar_minha')}}">
                                    <i class="icon-home"></i>
                                    <span class="title">Minha empresar</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>

                        </ul>
                        <!-- END SIDEBAR MENU -->
                    </div>
                </div>
                <!-- END SIDEBAR -->
     {% endblock %}